/*homepage*/
.slider-banner-wrapper
  background-color: #ffffff
  padding: 0px 60px

.slider-banner-container
  max-height: 100vh
  min-height: 100vh

.slider-banner
  max-height: 100vh
  min-height: 100vh
  img
    width: 100%
    height: auto
    object-fit: cover

  &__content
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    background-color: #fff
    padding: 30px 0px
  &__inner-content
    display: flex
    align-items: center
  &__title
    font-family: $primary-font-medium
    font-weight: 400
    font-size: 40px
    letter-spacing: 2px
    white-space: nowrap
    line-height: 40px
    text-transform: uppercase
    margin: 0px
    margin-right: 200px

  &__info
    font-family: $primary-font
    font-weight: 400
    font-size: 13px
    text-transform: uppercase
    line-height: 20px
    letter-spacing: 1px
    margin: 0px
    white-space: nowrap
    margin-right: 100px
    span
      display: block
  &__description
    font-family: $primary-font
    font-weight: 400
    font-size: 13px
    line-height: 20px
    letter-spacing: 1px
    margin: 0px
    white-space: nowrap
  &__btn
    display: block
    font-family: $primary-font
    font-size: 13px
    font-weight: 400
    text-decoration: none
    text-transform: uppercase
    text-align: center
    letter-spacing: 1px
    line-height: 20px
    border: 1px solid #000
    color: #000
    padding: 5px 35px
    



@media (max-width: $md)
  .slider-banner-container
    height: auto
    padding: 0 60px
    video
      margin-top: 54px

@media (max-width: $sm)
  .slider-banner-container
    padding: 0 15px

.admin-bar
  .slider-banner-container
    max-height: 97vh

.banner
  &__circle
    display: flex
    align-items: center
    justify-content: center
    padding: 28px 8px!important
    border-radius: 50%
    width: 98px
    height: 98px
    background-color: #e7315b
    position: absolute
    right: 10px
    top: -20px
    z-index: 3
    text-align: center
    font-family: "WalsheimThin"!important
    font-size: 14px!important
    line-height: 18px
    letter-spacing: 0.075em
    color: #FFF
    font-weight: 400
    text-transform: uppercase
    -webkit-transform: rotate(20deg)
    -moz-transform: rotate(20deg)
    -ms-transform: rotate(20deg)
    -o-transform: rotate(20deg)

.page-template-page-home
  #main
    padding-top: 60px